.taskContainer {
  background-color: rgba(254, 252, 252, 0.34);
  /* width: 20rem; */
  height: 100px;
  /* margin: 0 auto; */
  border-radius: 20px;
  box-shadow: 0 5px 15px #3f3f3f34;
  grid-row: span 1;
  border: solid 1px rgba(217, 217, 217, 0.324);
}

h3 {
  margin: 0;
}
