.listContainer {
  display: grid;
  /* grid-auto-rows: 20rem; */
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 1250px;
  margin: auto;
}

.toast {
  width: 100px;
  padding: 1rem;
  background-color: red;
  border-radius: 0.5rem;
  opacity: 100;
  transition: all 2s;
}

.hide {
  width: 100px;
  padding: 1rem;
  background-color: red;
  opacity: 0;
  transition: all 2s;
}
