.listContainer {
  /* background-color: gainsboro;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
  margin: auto;
  justify-content: center; */
  display: grid;
  /* grid-auto-rows: 20rem; */
  grid-auto-rows: auto;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  padding: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  /* max-width: 1550px; */
  justify-items: center;
  align-items: center;
  margin: auto;
}
