/* CSS VARIABLES */
:root {
  /* COLORS */
  --color_background: #dcdcdc;
  --color_navbar: #004c5c;
  --box_shadow_default: 5px 5px 5px #8d8d8d14;

  /* Media Queries Base : TODO */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
